.avatar-circle {
  width: 32px;
  height: 32px;
  background: #6c5ce7;
  font-size: 14px;
}

/* Tablet (≥768px) */
@media (min-width: 768px) and (max-width: 991px) {
  .avatar-circle {
    width: 23px;
    height: 23px;
    font-size: 0.6rem;
  }
}

.user-dashboard-title {
  font-size: 28px;
  color: var(--cui-primary);
  font-family: 'Segoe UI', sans-serif;
}

.user-fullname {
  font-size: 14px;
}

.user-email {
  font-size: 14px;
}

body.dark-mode .card {
  background-color: #212529 !important;
  color: #ffffff !important;
}