.avatar-circle {
  width: 32px;
  height: 32px;
  background: #6c5ce7;
  font-size: 14px;
}

.user-dashboard-title {
  font-size: 28px;
  color: var(--cui-primary);
  font-family: 'Segoe UI', sans-serif;
}

.user-fullname {
  font-size: 14px;
}

.user-email {
  font-size: 14px;
}