.upload-button {
  font-size: 0.75rem !important;
  padding: 0.25rem 0.5rem !important;
  background-color: #8367deff !important;
  color: white !important;
  border: none !important;
  transition: all 0.2s ease-in-out;
  margin-top: 70px;
  margin-right: 10px;
}

.upload-button:hover {
  background-color: #6c4fd8 !important;
  color: white !important;
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.upload-button-icon {
  width: 12px;
  height: 12px;
  color: white;
}