.bg-dark-purple {
  background-color: #432e62df !important;
}

.bg-light-purple {
  background-color: #bfaee5ff !important;
}

.hover-dark:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.hover-light:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.h-64 {
  height: 64px !important;
}

.z-index-1060 {
  z-index: 1060 !important;
}

.fixed-header-nav .dropdown-menu {
  right: 0;
  left: auto;
}