.app-header {
  border-bottom: 2px solid var(--cui-sidebar-border-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1060;
  height: 56px;
  border-bottom: 2px solid var(--cui-sidebar-border-color);
  transition: height 0.2s, margin-left 0.2s, width 0.2s;
}

.header-back {
  color: var(--cui-header-color) !important;
}

.header-back:hover {
  background-color: var(--cui-sidebar-hover-bg) !important;
  text-decoration: none;
  color: var(--cui-header-color) !important;
}

.h-48 {
  height: 48px !important;
}

.z-index-1060 {
  z-index: 1060 !important;
}

.fixed-header-nav .dropdown-menu {
  right: 0;
  left: auto;
}