:root {
    --color-primary: #8367deff;
    --color-primary-hover: #5b3cc4;
    --color-white: #ffffff;
}

.nav-link {
    color: var(--cui-body-color) !important;
}

.custom-card-header .nav-link.active,
.custom-card-header .nav-link.active:hover,
.custom-card-header .nav-link.active:focus {
    background-color: var(--color-primary) !important;
    color: var(--color-white) !important;
}

/* Hover for inactive tabs */
.custom-card-header .nav-link:not(.active):hover,
.custom-card-header .nav-link:not(.active):focus {
    background-color: var(--color-primary-hover) !important;
    color: var(--color-white) !important;
}

.custom-card-header {
    background-color: var(--cui-card-cap-bg) !important;
    color: var(--cui-card-cap-color) !important;
}

.custom-card {
    background-color: var(--cui-card-bg) !important;
    color: var(--cui-body-color) !important;
}

.nav-fill.flex-nowrap.overflow-auto {
    -webkit-overflow-scrolling: touch;
}

.custom-card-title {
    margin-bottom: 0px;
    font-size: 28px !important;
    font-weight: 700 !important;
    color: var(--cui-primary);
    font-family: 'Segoe UI', sans-serif !important;
}

.invalid-pdfs-container {
    max-width: 2000px;
    margin: 0 auto;
    width: 100%;
}